body{
    background-color: #b82a2a;
}
h1,h2,h4{
    color:rgb(4, 4, 71);
}
h2{
    background-color:lime ;
}
h2 span{
    color:red;
}
p{
    color:white;
}
#para{
    color: green;
}
p span{
    color:black;
    FONT-SIZE:20PX;
}
p:last-of-type {
    color: black;
}
ul li{
    color:white;
  
}
ul li:first-child a{
        background-color: yellow;
    }
ul li:last-child a{
        background-color: blue;
    }
ol li:nth-child(2) {
       color:blue;
}  
ol li:nth-child(3){
    color:red;
}  
